*.class
*.log
message-service/.idea/*
message-service/target/*
message-service/project/target/*
message-service/project/project/target/*
message-service/.testcontainers-tmp*
protobuffers/java_generated/*
